<h2>Inserting player into Database</h2>

<form action="/home">
  First name:<br>
  <input type="text" name="firstname" value="">
  <br><br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  Pos:<br>
  <input type="text" name="pos" value="">
  <br><br>
  Age:<br>
  <input type="text" name="age" value="">
  <br><br>
  School:<br>
  <input type="text" name="school" value="">
  <br><br>
  height:<br>
  <input type="text" name="height" value="">
  <br><br>
  weight:<br>
  <input type="text" name="weight" value="">
  <br><br>
  40yd:<br>
  <input type="text" name="40yd" value="">
  <br><br>
  Bench Press:<br>
  <input type="text" name="BenchReps" value="">
  <br><br>
  Broad Jump:<br>
  <input type="text" name="broadjump" value="">
  <br><br>
  3 Cone:<br>
  <input type="text" name="3Cone" value="">
  <br><br>
  Shuttle:<br>
  <input type="text" name="school" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
